<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home|Login</title>
</head>

<body>
    <div>
        {% if message %}
        <h2>{{ message }}</h2>
        {% endif %}
        <form action="{% url '_login' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username: </label>
            <input type="text" name="username" id="username">
            <br>
            <label for="password">Password: </label>
            <input type="text" name="password" id="password">
            <br>
            <button type="submit">Login</button>
        </form>
        <a href="signup">Don't have an account? Signup</a>
    </div>
</body>

</html>